{% extends "shared/layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 class='text-center'>Nuvem de Palavras</h1>

<form role="form" class="form-inline" id="formulario">
    <div class="form-group">
        <label for="termo">Informe um termo: </label>
            <input type="text" class="form-control" id="termo" name="termo" placeholder="exemplo: Brasil" required minlength="3">
            <button type="submit" class="btn btn-primary">buscar</button>                        
    </div>    
</form>
<h3 class='text-center col-xs-12'>Nuvem gerada</h3>
<div id="nuvem" class="col-xs-12"></div>
<script>
    //sim fiz na view, nao me julgue eu estava com sono
   $("#formulario").submit(function (e) {
       e.preventDefault(); 
       var termo = $("#termo").val();
       console.log(termo);
       location.href = '/buscar/'+termo;
   });
</script>
<script>
    //renderizado pelo flask
    var frequency_list = {{valores|tojson|safe}};

    d3.wordcloud()
        .size([1000, 600])
        .fill(d3.scale.ordinal().range(["#884400", "#448800", "#888800", "#444400"]))
        .words(frequency_list)
        .onwordclick(function(d, i) {
            var htmlString = "Total de aparições da palavra <kbd>" + d.text + "</kbd> :<code>" + d.size + "</code>";
            $("#texto-modal").html(htmlString);
            $("#myModal").modal();
        })
        .start();
</script>
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Total de aparições</h4>
        </div>
        <div class="modal-body">
          <p id="texto-modal"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}