{% extends "shared/layout.html" %}
{% block title %}Sobre{% endblock %}

{% block content %}

<h2>Nuvem de palavras V1.0.0</h2>

<p>Trabalho apresentado para matéria do curso de recuperação da informação de pós graduação em Ciência de dados e Big data - Puc Minas 2017</p>

<p>A busca é efetuada no twitter (100 twitts) e monta uma de palavras com os termos que aparecem na busca.
</p>
<p>Após a montagem da nuvem de palavras é utilizada a biblioteca textblob para efetuar uma análise dos sentimentos dos twiites (ingles) </p>
<h3>Aluno</h3>
<ul>
{% for integrante in integrantes %}
  <li>{{ integrante }}</a></li>
{% endfor %}
</ul>
<ul>
  <li>Professor: Cristiano Carvalho </a></li>
</ul>
{% endblock %}
